
body {
    font-size: 0;
    font-size: 16px;
    background: #272a3a;
  font-family: Trebuchet MS;
    p{
    color: white;
    }
}
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.d3_wp{
  width: 500px;
  overflow-x: scroll;
}
.test{
  fill: greenyellow;
}
//.map-container {
//    width: 500px;
//    height: 500px;
//  }
//
//
//  .vue-map{
//  height: 500px;
//  }


  body.hidden-scroll {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  svg{
    height: 500px;
  }

  #Shape{
    stroke-dasharray: 4000;
    stroke-dashoffset: 2500;
    animation: draw 5s linear;
  }
@keyframes draw {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2500;
  }
}
@media only screen and (min-width : 1040px) {

}
@media only screen and (max-width : 1039px) {
    

}

@media only screen and (max-width : 767px) {
    
}